@import "../../../common/css/variables";
@import "../../../common/css/rem";

.navbar {
	display: flex;
	align-items: flex-start;

	&-brand {
		padding-bottom: 13px;

		&-image {
			width: 164px;
			height: 67px;
		}
	}

	&-expand {
		width: 24px;
		height: 21px;
		padding: 0;
		border: 0;
		border-radius: 0;
		line-height: 1;

		&-icon {
			width: 24px;
			height: 21px;
		}
	}

	&-search {
		width: 100%;
		max-width: 542px;
		margin: 8px 36px;
	}
}

@media only screen and (max-width: $breakpoint-sm) {
	.navbar {
		padding: 28px 24px 26px 30px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&-brand {
			padding-bottom: 0;

			&-image {
				width: 96px;
				height: 40px;
			}
		}
	}
}

