@font-face {
	font-family: 'Futura-Bold';
	src: url('Futura-Bold.eot?#iefix') format('embedded-opentype'),
	url('Futura-Bold.woff') format('woff'),
	url('Futura-Bold.ttf') format('truetype'),
	url('Futura-Bold.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Futura-Medium';
	src: url('Futura-Medium.eot?#iefix') format('embedded-opentype'),
	url('Futura-Medium.woff') format('woff'),
	url('Futura-Medium.ttf') format('truetype'),
	url('Futura-Medium.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Futura-CondensedExtraBold';
	src: url('Futura-Condensed-Extra-Bold.svg?#iefix') format('embedded-opentype'),
	url('Futura-Condensed-Extra-Bold.woff') format('woff'),
	url('Futura-Condensed-Extra-Bold.ttf') format('truetype'),
	url('Futura-Condensed-Extra-Bold.svg#webfont') format('svg');
}
