@import "./common";
@import "./reset";
@import "./variables.scss";

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Futura", -apple-system, Arial, sans-serif;
	background-image: linear-gradient(to bottom, #FFF, #D8FFFF);
	color: $color-black-0;
}

body, html {
	min-height: 100%;
	height: auto;
	font-size: $font-size-desktop;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 576px) {
	body, html {
		font-size: $font-size-mobile;
	}
}

@media (min-width: 768px) {
	.container-md, .container-sm, .container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container-lg, .container-md, .container-sm, .container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container-xl, .container-lg, .container-md, .container-sm, .container {
		max-width: 1140px;
	}
}

@media (min-width: 1500px) {
	.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
		max-width: 1440px;
	}
}
