@import "./rem";

$color-brand: #9CEAED;

/* Color */
$color-success: #00A0A6;
$color-error: #FF4949;
$color-warning: #FFC82C;
$color-info: #78A4FA;

/* Color Palette */
$color-black-0: #000;
$color-black-1: #333;
$color-black-2: #7F7F7F;
$color-black-3: #BEBEBE;

$color-grey-0: #333;
$color-grey-1: #666;
$color-grey-2: #8F8F8F;

$color-white: #FFF;

/* Text Color */
$color-text-base: #333; // 文字的基本色
$color-text-base-inverse: #FFF; // 反色
$color-text-secondary: #36D57D; // 辅助色
$color-text-placeholder: #C9C9C9;
$color-text-disabled: #CCC;

/* 透明度 */
$opacity-active: 0.7; // Button 等组件点击态额透明度

/* Link */
$color-link: $color-black-0;
$color-link-hover: rgba(0, 0, 0, $opacity-active);

/* 背景色 */
$color-bg: #FFF;
$color-bg-base: #FAFBFC;
$color-bg-grey: #F7F7F7;

/* 边框颜色 */
$color-border-base: #979797;
$color-border-darker: $color-black-0;

/* Border Radius */
$border-radius: 8px;
$border-radius-circle: 50%;

/* Font */
$font-size-desktop: 16px; // 默认字号
$font-size-mobile: 8px; // 移动端字号
$font-size-sm: 18px; // 用于辅助信息
$font-size-base: 24px; // 正文
$font-size-xl: 32px; // 二级标题
$font-size-xxl: 36px; // 大标题
$font-normal: "Futura", -apple-system, Arial, sans-serif;
$font-medium: "Futura-Medium", -apple-system, Arial, sans-serif;
$font-bold: "Futura-Bold", -apple-system, Arial, sans-serif;
$font-bolder: "Futura-CondensedExtraBold", -apple-system, Arial, sans-serif;

/* Line Height */
$line-height-base: 1; // 单行
$line-height-en: 1.3; // 英文多行

$btn-height: 80px;

/* 水平间距 */
$spacing-h-sm: 5px;
$spacing-h-md: 8px;
$spacing-h-lg: 12px;
$spacing-h-xl: 16px;

/* 垂直间距 */
$spacing-v-xs: 3px;
$spacing-v-sm: 1rem;
$spacing-v-md: 1.25rem;
$spacing-v-lg: 1.5rem;
$spacing-v-xl: 1.75rem;
$spacing-v-xxl: 3rem;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
