@import "../../common/css/variables";
@import "../../common/css/rem";

.upload {
	:global {
		.ant-upload.ant-upload-select-picture-card {
			background-color: $color-bg-grey;
			border: 1px solid $color-border-base;
			border-radius: 5px;
			width: 100%;
			height: rem(265px);
			margin: 0;
		}
	}

	&-circle {
		:global {
			.ant-upload.ant-upload-select-picture-card {
				width: rem(220px);
				height: rem(220px);
				border-radius: 50%;
			}
		}
	}

	&-btn {
		width: 100%;
		height: 100%;
		position: relative;

	}

	&-preview {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&-circle {
			border-radius: 50%;
			overflow: hidden;
		}
	}

	&-placeholder {
		width: rem(109px);
		height: rem(83px);
	}

	&-picture {
		width: 100%;
		height: 100%;
	}

	&-camera {
		width: rem(50px);
		height: rem(50px);
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
