@import "../../../common/css/variables";
@import "../../../common/css/rem";

.submit {
	position: relative;

	.ctl {
		padding: 16px 100px 12px 22px;
		font-size: rem($font-size-sm);
		line-height: $line-height-base;
		color: $color-black-0;
		border: rem(2px) solid #DEDEDE;
		box-shadow: rem(0 2px 24px -10px) rgba(0, 0, 0, 0.50);
		border-radius: rem(33.5px);
	}

	.btn {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: rem($font-size-sm);
		line-height: $line-height-en;
	}

	.icon {
		width: rem(10px);
		height: rem(16px);
		line-height: 1;
		margin: rem(0 16px);

		img {
			width: 100%;
			height: 100%;
		}
	}

	:global {
		.ant-btn {
			height: 40px;
			padding: rem(4px 8px);
			background-color: transparent;
			border: none;
			box-shadow: none;
			color: #BCBCBC;

			&:active,
			&:hover {
				background: none;
			}

			&:after {
				box-shadow: none;
			}
		}
	}
}

@media only screen and (max-width: $breakpoint-sm) {
	.submit {
		.ctl {
			padding: 11px 14.5px 10px 14.5px;
			font-size: 11.5px;
		}

		.btn {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 11.5px;
		}

		:global {
			.ant-btn {
				height: 20px;
			}
		}
	}
}
